<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="1">
    <test name="regression">
        <packages>
            <package name="com.jakubhoryd.tests.login"/>
            <package name="com.jakubhoryd.tests.buzz"/>
        </packages>
    </test>
</suite>